header {
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: 1.5rem 0;
    transition: background-color 0.2s ease;
}

header.dark-mode {
    background-color: var(--dark-bg-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.logo {
    color: var(--font-color);
    cursor: pointer;
    transition: color 0.2s ease;
}

.logo img {
    width: 12rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.nav-links a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5e5e5e;
    border-radius: 0;
    transition: all 0.2s ease;
    padding-bottom: .5rem;
    border-bottom: 3px solid transparent;
}

.nav-links a:hover,
.nav-links a.dark-mode:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.nav-links a.dark-mode {
    color: var(--dark-font-color);
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#theme-toggle {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--font-color);
    border-radius: 0.5rem;
}

#theme-toggle i {
    border-radius: 50%;
    padding: 1.2rem;
    transition: all 0.2s ease;
}

#theme-toggle i:hover {
    background-color: rgba(216, 216, 216, 0.7);
}

body.dark-mode #theme-toggle i {
    color: var(--dark-font-color);
}

body.dark-mode #theme-toggle i:hover {
    background-color: rgba(65, 61, 61, 0.7);
}

body.dark-mode #theme-toggle i {
    transform: rotate(180deg);
}

/*------------------------
          Footer
-------------------------*/

footer {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

body.dark-mode .footer-container {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-logo {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.footer-logo p {
    font-size: 1.2rem;
    align-content: center;
}

.footer-logo img {
    width: 85px;
    filter: grayscale(1);
    opacity: 0.5;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    font-weight: 500;
    color: #5f5f5f;
    font-size: 1.6rem;
    padding-left: 1rem;
    transition: color 0.2s ease;
}

.footer-links a:hover {
    color: var(--primary-color);
}