.profiles-list{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    color: white;
}

.profile-card{
	flex-direction: column;
}

.title{	
	font-size: 30px;
	font-weight: 800;
	padding: 30px;
    margin-bottom: 20px;
    color: white;
}

.links-container{
	margin-top: 10px;
}

.rounded-image{
	width: 128px;
	border-radius: 50%;
    margin-bottom: 20px;
}
