.services-container{
    transition: 0.2s;
}

.services-title{
    font-size: 20px;
    padding: 25px;
    color: white;
    margin-bottom: 30px;
}
.card-list{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.card{
    width: 320px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image img{
    width: 300px;
    height: 300px;
}

.card-body{
    padding: 15px
}

.card:hover{
    transform: scale(1.045);
    transition: 0.3s;
    cursor: pointer;
}